# Data Cleaning - Ti·ªÅn x·ª≠ l√Ω d·ªØ li·ªáu

**Ng∆∞·ªùi ph·ª• tr√°ch:** Ng∆∞·ªùi 2 - Data Cleaning Specialist

## M·ª•c ti√™u:
- Ti·ªÅn x·ª≠ l√Ω v√† l√†m s·∫°ch d·ªØ li·ªáu
- X·ª≠ l√Ω missing values, duplicates, outliers
- Chu·∫©n h√≥a format d·ªØ li·ªáu
- T·∫°o b√°o c√°o v·ªÅ ch·∫•t l∆∞·ª£ng d·ªØ li·ªáu

# 1Ô∏è‚É£ ƒê·ªåC D·ªÆ LI·ªÜU & KH√ÅM PH√Å BAN ƒê·∫¶U

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime
import os
import warnings
warnings.filterwarnings("ignore")

# ƒê·ªçc d·ªØ li·ªáu v√† hi·ªÉn th·ªã th√¥ng tin c∆° b·∫£n
df = pd.read_csv('../data/foodpanda_orders.csv')
print("K√≠ch th∆∞·ªõc d·ªØ li·ªáu:", df.shape)
print("\nC√°c c·ªôt:")
print(df.columns.tolist())
display(df.head())

K√≠ch th∆∞·ªõc d·ªØ li·ªáu: (6000, 20)

C√°c c·ªôt:
['customer_id', 'gender', 'age', 'city', 'signup_date', 'order_id', 'order_date', 'restaurant_name', 'dish_name', 'category', 'quantity', 'price', 'payment_method', 'order_frequency', 'last_order_date', 'loyalty_points', 'churned', 'rating', 'rating_date', 'delivery_status']

,customer_id,gender,age,city,signup_date,order_id,order_date,restaurant_name,dish_name,category,quantity,price,payment_method,order_frequency,last_order_date,loyalty_points,churned,rating,rating_date,delivery_status
0,C5663,Male,Adult,Peshawar,1/14/2024,O9663,8/23/2023,McDonald's,Burger,Italian,5,1478.27,Cash,38,7/19/2025,238,Active,3,10/14/2024,Cancelled
1,C2831,Male,Adult,Multan,7/7/2024,O6831,8/23/2023,KFC,Burger,Italian,3,956.04,Wallet,24,11/25/2024,81,Active,2,8/21/2025,Delayed
2,C2851,Other,Senior,Multan,6/20/2025,O6851,8/23/2023,Pizza Hut,Fries,Italian,2,882.51,Cash,42,5/10/2025,82,Inactive,3,9/19/2024,Delayed
3,C1694,Female,Senior,Peshawar,9/5/2023,O5694,8/23/2023,Subway,Pizza,Dessert,4,231.30,Card,27,7/24/2025,45,Inactive,2,6/29/2025,Delayed
4,C4339,Other,Senior,Lahore,12/29/2023,O8339,8/24/2023,KFC,Sandwich,Dessert,1,1156.69,Cash,35,12/21/2024,418,Inactive,3,3/6/2025,Cancelled

# 2Ô∏è‚É£ TH·ªêNG K√ä BAN ƒê·∫¶U V·ªÄ D·ªÆ LI·ªÜU

In [2]:

print("\n--- Th√¥ng tin d·ªØ li·ªáu ---")
df.info()
print("\n--- M√¥ t·∫£ d·ªØ li·ªáu s·ªë ---")
display(df.describe())

--- Th√¥ng tin d·ªØ li·ªáu ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6000 entries, 0 to 5999
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   customer_id      6000 non-null   object
 1   gender           6000 non-null   object
 2   age              6000 non-null   object
 3   city             6000 non-null   object
 4   signup_date      6000 non-null   object
 5   order_id         6000 non-null   object
 6   order_date       6000 non-null   object
 7   restaurant_name  6000 non-null   object
 8   dish_name        6000 non-null   object
 9   category         6000 non-null   object
 10  quantity         6000 non-null   int64
 11  price            6000 non-null   float64
 12  payment_method   6000 non-null   object
 13  order_frequency  6000 non-null   int64
 14  last_order_date  6000 non-null   object
 15  loyalty_points   6000 non-null   int64
 16  churned          6000 non-null   object
 17  rating           6000 non-null   int64
 18  rating_date      6000 non-null   object
 19  delivery_status  6000 non-null   object
dtypes: float64(1), int64(4), object(15)
memory usage: 937.6+ KB

--- M√¥ t·∫£ d·ªØ li·ªáu s·ªë ---

          quantity        price  order_frequency  loyalty_points       rating
count  6000.000000  6000.000000      6000.000000     6000.000000  6000.000000
mean      2.991667   800.524880        25.304667      250.173667     2.996833
std       1.414778   404.855029        14.358930      144.608478     1.406113
min       1.000000   100.300000         1.000000        0.000000     1.000000
25%       2.000000   441.997500        13.000000      125.000000     2.000000
50%       3.000000   806.460000        25.000000      249.500000     3.000000
75%       4.000000  1149.737500        37.000000      378.000000     4.000000
max       5.000000  1499.950000        50.000000      500.000000     5.000000

# 3Ô∏è‚É£ X·ª¨ L√ù MISSING VALUES

In [3]:
# Ki·ªÉm tra t·ªâ l·ªá missing
missing_report = df.isnull().sum().sort_values(ascending=False)
missing_percent = (df.isnull().mean() * 100).round(2)
missing_df = pd.DataFrame({'missing_count': missing_report, 'missing_percent': missing_percent})
display(missing_df[missing_df.missing_count > 0])

# Chi·∫øn l∆∞·ª£c x·ª≠ l√Ω:
# - N·∫øu >50% missing: lo·∫°i c·ªôt
# - Numeric: thay b·∫±ng median
# - Categorical: thay b·∫±ng mode
threshold = 0.5 * len(df)
cols_to_drop = [c for c in df.columns if df[c].isnull().sum() > threshold]
df.drop(columns=cols_to_drop, inplace=True)

for col in df.columns:
    if df[col].isnull().sum() > 0:
        if df[col].dtype in ["int64", "float64"]:
            df[col].fillna(df[col].median(), inplace=True)
        else:
            df[col].fillna(df[col].mode()[0], inplace=True)

print(f"‚úÖ Ho√†n th√†nh x·ª≠ l√Ω missing values. ƒê√£ lo·∫°i {len(cols_to_drop)} c·ªôt c√≥ qu√° nhi·ªÅu missing.")

Empty DataFrame
Columns: [missing_count, missing_percent]
Index: []

‚úÖ Ho√†n th√†nh x·ª≠ l√Ω missing values. ƒê√£ lo·∫°i 0 c·ªôt c√≥ qu√° nhi·ªÅu missing.

# 4Ô∏è‚É£ X·ª¨ L√ù DUPLICATES

In [4]:
duplicates = df.duplicated().sum()
print(f"S·ªë b·∫£n ghi tr√πng l·∫∑p: {duplicates}")
if duplicates > 0:
    df.drop_duplicates(inplace=True)
    print("‚Üí ƒê√£ x√≥a b·∫£n ghi tr√πng l·∫∑p.")
else:
    print("‚úÖ Kh√¥ng c√≥ b·∫£n ghi tr√πng l·∫∑p.")

S·ªë b·∫£n ghi tr√πng l·∫∑p: 0
‚úÖ Kh√¥ng c√≥ b·∫£n ghi tr√πng l·∫∑p.

# 5Ô∏è‚É£ CHU·∫®N H√ìA KI·ªÇU D·ªÆ LI·ªÜU

In [5]:
# a. C√°c c·ªôt ng√†y
date_cols = ['signup_date', 'order_date', 'last_order_date', 'rating_date']
for col in date_cols:
    df[col] = pd.to_datetime(df[col], errors='coerce', dayfirst=False)

# b. C√°c c·ªôt d·∫°ng s·ªë (chuy·ªÉn text ch·ª©a s·ªë)
for col in df.columns:
    if df[col].dtype == object:
        try:
            df[col] = df[col].str.replace(",", "").astype(float)
        except:
            continue

# c. Chu·∫©n h√≥a text
cat_cols = df.select_dtypes(include="object").columns
for col in cat_cols:
    df[col] = df[col].astype(str).str.strip().str.lower()

print("‚úÖ ƒê√£ chu·∫©n h√≥a format d·ªØ li·ªáu.")

‚úÖ ƒê√£ chu·∫©n h√≥a format d·ªØ li·ªáu.

# 6Ô∏è‚É£ X·ª¨ L√ù OUTLIERS (IQR)

In [6]:
numeric_cols = df.select_dtypes(include=[np.number]).columns

def remove_outliers_iqr(df, col):
    Q1 = df[col].quantile(0.25)
    Q3 = df[col].quantile(0.75)
    IQR = Q3 - Q1
    lower, upper = Q1 - 1.5*IQR, Q3 + 1.5*IQR
    before = len(df)
    df = df[(df[col] >= lower) & (df[col] <= upper)]
    removed = before - len(df)
    if removed > 0:
        print(f"‚Üí {col}: lo·∫°i {removed} outliers.")
    return df

for col in numeric_cols:
    df = remove_outliers_iqr(df, col)

print("‚úÖ Ho√†n th√†nh x·ª≠ l√Ω outliers.")

‚úÖ Ho√†n th√†nh x·ª≠ l√Ω outliers.

# 7Ô∏è‚É£ PH√ÅT HI·ªÜN & X·ª¨ L√ù D·ªÆ LI·ªÜU KH√îNG NH·∫§T QU√ÅN

In [7]:
# Ki·ªÉm tra c√°c gi√° tr·ªã b·∫•t th∆∞·ªùng trong categorical columns
for col in cat_cols:
    unique_count = df[col].nunique()
    if unique_count < 20:
        print(f"\nC·ªôt {col} ({unique_count} gi√° tr·ªã):")
        print(df[col].value_counts())

C·ªôt gender (3 gi√° tr·ªã):
gender
female    2018
male      2017
other     1965
Name: count, dtype: int64

C·ªôt age (3 gi√° tr·ªã):
age
teenager    2062
adult       1984
senior      1954
Name: count, dtype: int64

C·ªôt city (5 gi√° tr·ªã):
city
multan       1256
lahore       1217
peshawar     1195
islamabad    1187
karachi      1145
Name: count, dtype: int64

C·ªôt restaurant_name (5 gi√° tr·ªã):
restaurant_name
subway         1260
pizza hut      1224
kfc            1224
burger king    1151
mcdonald's     1141
Name: count, dtype: int64

C·ªôt dish_name (5 gi√° tr·ªã):
dish_name
pasta       1262
sandwich    1243
pizza       1200
fries       1152
burger      1143
Name: count, dtype: int64

C·ªôt category (5 gi√° tr·ªã):
category
italian        1236
fast food      1222
continental    1211
chinese        1198
dessert        1133
Name: count, dtype: int64

C·ªôt payment_method (3 gi√° tr·ªã):
payment_method
cash      2039
card      2002
wallet    1959
Name: count, dtype: int64

C·ªôt churned (2 gi√° tr·ªã):
churned
active      3016
inactive    2984
Name: count, dtype: int64

C·ªôt delivery_status (3 gi√° tr·ªã):
delivery_status
delivered    2060
delayed      1972
cancelled    1968
Name: count, dtype: int64

# 8Ô∏è‚É£ TI·ªÄN X·ª¨ L√ù B·ªî SUNG

In [8]:
# - T·∫°o c·ªôt "total_value" = quantity * price
# - T·∫°o c·ªôt "customer_tenure" = ng√†y cu·ªëi - ng√†y signup
df['total_value'] = df['quantity'] * df['price']
df['customer_tenure_days'] = (df['last_order_date'] - df['signup_date']).dt.days

# Lo·∫°i b·ªè gi√° tr·ªã √¢m ho·∫∑c b·∫•t h·ª£p l√Ω
df = df[df['customer_tenure_days'] >= 0]

# 9Ô∏è‚É£ T·∫†O B√ÅO C√ÅO CH·∫§T L∆Ø·ª¢NG D·ªÆ LI·ªÜU

In [9]:
report = pd.DataFrame({
    "column": df.columns,
    "dtype": df.dtypes,
    "missing(%)": [100 * df[c].isnull().mean() for c in df.columns],
    "unique_values": [df[c].nunique() for c in df.columns],
    "min": [df[c].min() if df[c].dtype != 'O' else None for c in df.columns],
    "max": [df[c].max() if df[c].dtype != 'O' else None for c in df.columns]
})

print("\nüìä B√ÅO C√ÅO CH·∫§T L∆Ø·ª¢NG D·ªÆ LI·ªÜU SAU L√ÄM S·∫†CH:")
display(report)

üìä B√ÅO C√ÅO CH·∫§T L∆Ø·ª¢NG D·ªÆ LI·ªÜU SAU L√ÄM S·∫†CH:

,column,dtype,missing(%),unique_values,min,max
customer_id,customer_id,object,0.0,4533,None,None
gender,gender,object,0.0,3,None,None
age,age,object,0.0,3,None,None
city,city,object,0.0,5,None,None
signup_date,signup_date,datetime64[ns],0.0,694,2023-08-22 00:00:00,2025-08-14 00:00:00
order_id,order_id,object,0.0,4533,None,None
order_date,order_date,datetime64[ns],0.0,729,2023-08-23 00:00:00,2025-08-22 00:00:00
restaurant_name,restaurant_name,object,0.0,5,None,None
dish_name,dish_name,object,0.0,5,None,None
category,category,object,0.0,5,None,None
quantity,quantity,int64,0.0,5,1,5
price,price,float64,0.0,4458,100.3,1499.95
payment_method,payment_method,object,0.0,3,None,None
order_frequency,order_frequency,int64,0.0,50,1,50
last_order_date,last_order_date,datetime64[ns],0.0,366,2024-08-21 00:00:00,2025-08-21 00:00:00
loyalty_points,loyalty_points,int64,0.0,501,0,500
churned,churned,object,0.0,2,None,None
rating,rating,int64,0.0,5,1,5
rating_date,rating_date,datetime64[ns],0.0,366,2024-08-21 00:00:00,2025-08-21 00:00:00
delivery_status,delivery_status,object,0.0,3,None,None
total_value,total_value,float64,0.0,4495,101.73,7496.85
customer_tenure_days,customer_tenure_days,int64,0.0,685,0,720

# üîü L∆ØU D·ªÆ LI·ªÜU ƒê√É L√ÄM S·∫†CH

In [10]:
output_path = "../data/foodpanda_orders_cleaned.csv"
os.makedirs(os.path.dirname(output_path), exist_ok=True)
df.to_csv(output_path, index=False)
print(f"‚úÖ ƒê√£ l∆∞u d·ªØ li·ªáu ƒë√£ l√†m s·∫°ch t·∫°i: {output_path}")

‚úÖ ƒê√£ l∆∞u d·ªØ li·ªáu ƒë√£ l√†m s·∫°ch t·∫°i: ../data/foodpanda_orders_cleaned.csv